    <div id="createPlaylistDiv">
        <input class="input-medium search-query" id="playlist_name" placeholder="Playlist name">
        <button class="btn btn-primary" ng-click='add_playlist()'>create playlist!</button> <br> 
    </div>

    <br>
    <div id="showUserPlaylistsDiv">
        Your playlists:<br>
        <ul>
            <li ng-repeat="list in user_playlists | filter:query">
                <button class="btn btn-small btn-primary "ng-click="play_playlist(list.playlist_id)">play</button>
                <button class="btn btn-small btn-info" ng-click="show_playlist(list.playlist_id)">show</button>
                {{list.playlist_name}} 
            </li>
        </ul>
    </div>

    <div id="showPlaylistDiv">
        {{current_playlist_name}}
        <ul>
            <li ng-repeat="vid in current_playlist_vids | filter:query">
                {{vid.title}}
            </li>
        </ul>
        {{alert_msg}}
    </div>


