    <div id="loginDiv">
        Login:<br>
        <input class="input-medium search-query" id="username_login" placeholder="username"><br>
        <input class="input-medium search-query" type='password' id="password_login" placeholder="password"><br>
        <button class="btn btn-small btn-primary" ng-click='login()'>login!</button> <br>
        
    </div>

    <br>
    <div id="createUserDiv">
        Create account:<br>
        <input class="input-medium search-query" id="username_create" placeholder="username"><br>
        <input class="input-medium search-query" type="password" id="password_create1" placeholder="password"><br>
        <input class="input-medium search-query" type="password" id="password_create2" placeholder="pasword again"><br>
        <button class="btn btn-small btn-primary" ng-click='create_account()'>create account!</button> <br>
    </div>

