    <div id="loginDiv">
        Login:<br>
        username: <input id="username_login">
        password: <input type='password' id="password_login">
        <button ng-click='login()'>login!</button> <br>
        
    </div>

    <br>
    <div id="createUserDiv">
        Create account:<br>
        username: <input id="username_create"><br>
        password: <input type="password" id="password_create1"><br>
        password again: <input type="password" id="password_create2"><br>
        <button ng-click='create_account()'>create account!</button> <br>
    </div>

